/*///////////////BASIC SETUP////////////*/
/*///////////////BASIC SETUP////////////*/
/*///////////////BASIC SETUP////////////*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
html{
    background-color:#fff;
    color: rgb(120, 141, 231);
    font-family: "Raleway","Arial", sans-serif;
    font-weight:300;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
}

/*///////////////HEADER////////////*/
/*///////////////HEADER////////////*/
/*///////////////HEADER////////////*/


header{
    padding:25px;
    height: 100px;
    background-size:cover;
    background-position: center;
    text-align: left;
    background-image: linear-gradient(rgba(247, 144, 247, 0.8),rgba(182, 131, 182, 0.8)), url(../img/paint.jpg);
}
/*///////////////NAV////////////*/
/*///////////////NAV////////////*/
/*///////////////NAV////////////*/

.nav{
    display: flex;
    justify-content: center;
}

.nav li:not(:last-child){
    margin-right: 50px;
}

.nav-wrapper{
    display:flex;
    justify-content: left;
}

.nav li:first-child{
    margin-left: 100px;
}

.nav li{
    width: 75px;
    height:60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav li a:link,
.nav li a:visited{
    font-size: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.8s;
}

.nav li a:hover,
.nav li a:active{
    color: rgb(133, 34, 133);
    text-decoration: none;
    background-color: rgba(219, 232, 233, 0.1);
    padding: 5px 5px;
    border-radius: 200px;
}
/*rgb(133, 34, 133)*/

.nav-wrapper ul{
    display: inline-block;   
}

.logo{
    display: flex;
    justify-content: center;
    padding-left: 77px;
    height:60px;
    width:auto;
    margin: 0 15px;
}
@import url(ion-ios-search);
.search-box{
    
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 500px;
    height: 60px;
    border: 2px solid red;
  }

  .icon{
      width: 50px;
      height: auto;

  }
