/*///////////////BASIC SETUP////////////*/
/*///////////////BASIC SETUP////////////*/
/*///////////////BASIC SETUP////////////*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
body{
    background-image: url(../img/paint.jpg);
    background-size: cover;
    background-position: center;
} 

html{
    background-color:#fff;
    color: #fff;
    font-family: "Raleway","Arial", sans-serif;
    font-weight:300;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
}

/*///////////////HEADER////////////*/
/*///////////////HEADER////////////*/
/*///////////////HEADER////////////*/


header{
    padding:25px;
    height: 100px;
    background-size: cover;
    background-position: center;
    text-align: left;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(231, 164, 231, 0.8),rgba(165, 69, 160, 0.8)), url(../img/paint.jpg)
}
/*background-image: linear-gradient(rgba(247, 144, 247, 0.2),rgba(182, 131, 182, 0.2)), url(../img/heaven.jpg);*/
/*///////////////NAV////////////*/
/*///////////////NAV////////////*/
/*///////////////NAV////////////*/

.nav{
    display: flex;
    justify-content: center;
}

.nav li:not(:last-child){
    margin-right: 50px;
}

.nav-wrapper{

    align-items: center;
    display:flex;
    justify-content: left;
    margin-top: -10px;
}

.nav li:first-child{
    margin-left: 100px;
}

.nav li{
    width: 75px;
    height:60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav li a:link,
.nav li a:visited{
    font-size: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.8s;
}

.nav li a:hover,
.nav li a:active{
    color: rgb(133, 34, 133);
    text-decoration: none;
    background-color: rgba(219, 232, 233, 0.1);
    padding: 5px 5px;
    border-radius: 200px;
}
/*rgb(133, 34, 133)*/

.nav-wrapper ul{
    display: inline-block;  
}

.logo{
    display: flex;
    justify-content: center;
    padding-left: 77px;
    height:60px;
    width:auto;
    margin: 0 15px;
}

.search-box{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 500px;
    height: 60px;
}

.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/////////////SZIAMED/////////*/
/*/////////////SZIAMED/////////*/
/*/////////////SZIAMED/////////*/

.sziamed{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(112, 70, 112, 0.2));
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sziamed i{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.sziamed i:first-child{
    margin-right: 15px;
}

.sziamed i:last-child{
    margin-left: 15px;
}
/*////////////REUSABLECOMPONENTS/////////*/
/*////////////REUSABLECOMPONENTS/////////*/
/*////////////REUSABLECOMPONENTS/////////*/

h3{
    font-weight:100;
    font-size: 100px;
    color: white;
    letter-spacing: 25px;
}

.icon-small{
    width: 50px;
    color: #fff;
    margin-right: 10px;
}

.icon-big{
    color:white;
    width: 50px;
}
